@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Автопарк</title>
</head>
<body>
    <div>
        <h1>Добро пожаловать на сайт аренды автомобилей</h1>
        Наша компания вот уже 10 лет работает в сфере аренды автотранспорта.
        <br />
        За это время мы заключили огромное количество успешных сделок на территории России и бывшего СНГ.
        <br/>
        На данный момент наша компания уверенно держит лидерство в своей сфере.
        <a href="/Home/ShowCars/">Посмотреть список доступных автомобилей</a>
        <br />
         

    </div>
</body>
</html>